.board{
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  &-header__btn{
    text-align: right;
    margin-bottom: 20px;
    &__home{
      @include color($white,$black);
    }
  }
  &__text{
    padding: 20px;
    text-align: left;
    border: 1px solid $gray;
  }
  &__link{
    margin: 30px 0;
    a{
      color: $black;
    }
  }
  &-bottom{
    width: 33%;
      display: flex;
      float: right;
      margin-top: 30px;
    justify-content: space-between;
    &--home{
      @include color($white,$black);
    }
  }
  @include phone{
    margin-top: 0;
    &-content{
      padding: 0 20px;
    }
    &-header{
      border: none;
      &__user-icon{
        display: none;
      }
      &-title{
        margin: auto;
      }
      &__subject{
        font-size: $title;
      }
      &__info{
        border-bottom: 1px solid $gray;
      }
      &__writer{
        &:before{
        content: '';
        }
      }
      &__date{
        padding: 0;
      }
      span{
        display: inherit;
      }
    }
    &__text{
      margin-top: 30px;
      border: none;
    }
    &-bottom{
    width: auto;
    }
  }
}