.board{
  max-width: 800px;
  margin: auto;
  margin-top: 100px;
  &-header__btn{
    text-align: right;
    margin-bottom: 20px;
    &__home{
      @include color($white,$black);
    }
  }
  &__text{
    padding: 20px;
    text-align: left;
    border: 1px solid $gray;
  }
  &__link{
    margin: 30px 0;
    a{
      color: $black;
    }
  }
  &-bottom{
      display: flex;
      float: right;
      margin-top: 30px;
    justify-content: space-between;
    &--home{
      @include color($white,$black);
    }
  }
}