.write{
  max-width: 800px;
  margin: auto;
  border: 1px solid $gray;
  @include table{
    padding: 0px 20px;
  }
  &__btn{
    margin: 20px 0;
    width: 100px;
    height: 50px;
    }
  &__title{
    h2{ 
      @include font($title,bold);
    }
    padding: 20px 0;
    border-bottom: 3px solid $gray;
  }
  &__form{
    width: 100%;
    span{
      font-weight: bold;
      width: 50px;
      padding-right: 20px;
    }
    >div{
        display: flex;
        border: 1px solid #ddd;
        padding: 20px 50px 20px 50px;
        text-align: left;
        align-items: center;
    }
    &__title{
      input{
        width: 100%;
        outline: none;
        width: 100%;
      }
    }
    &__contents{
      textarea{
        width: 100%;
        min-height: 300px;
        resize: none;
        outline: none;
      }
    }
    @include table{
      >div{
        padding: 0;
        border: none;
      }
      &__title{
        input{
          border: none;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
          height: 30px;
        }
      }
      &__contents{
        margin-top: 20px;
        textarea{
          border: none;
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
          min-height: 200px;
        }
      }
    }
  }
}