.home{ 
  width: 95%;
  max-width: 800px;
  margin: auto;
  &-floatbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include table{
      width: 100%;
      &__list{
        display: none;
      }
      &__search-content{
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
      }
    }
  }
}
