.home{ 
  width: 100%;
  max-width: 800px;
  margin: auto;
  &-floatbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phone{
      width: 100%;
      &__list{
        display: none;
      }
      &__search-content{
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
      }
    }
  }
  &__countlist{
    font-size: $subtitle;
    padding-left: 10px;
    &:before{
      content: '총';
    }
    &:after{
      content: '건';
    }
  }
  &-search{
    display: flex;
    float: right;
    width: 40%;
    margin-bottom: 16px;
    position: relative;
    align-items: center;
  }
  &__searchbar{
    cursor: text;
    width: 100%;
    position: relative;
    .base-input{
      input{
        border: none;
        outline: none;
        width: 100%;
        font-size: $title;
        padding: 8px 0;
        }
      }
    &:before, &:after{
      content: '';
      position: absolute;
      transition: 0.3s;
      bottom: -1px;
      width: 100%;
      left: 0;
    }
    &:before{
      border-bottom: 1px solid $gray;
    }
    &:after{
      border: 1px solid $sky;
      transform: scaleX(0);
    }
  }
  &__searchbtn{
    right: 0;
    font-size: $title;
    transition: 1s;
  }
  .input--focus{
    &:after{
      transform: scaleX(1);
    }
  }
  .table{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    &__header{
      line-height: 40px;
      cursor: pointer;
      background-color: $gray;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      text-align: left;
      padding: 0 20px;
      span>i{
        opacity: 0;
        transition: .3s;
      }
      .active{
        font-weight: bold;
        >span>i{
          opacity: 1;
        }
      }
      .listdown{
        >span > i {
          transform: rotate( 180deg );
        }
      }
    }
    &__list{
      max-width: $list-width;
      margin: auto;
      border: 1px solid $gray;
      min-height: 40px;
      line-height: 40px;
      font-size: $text;
      > div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        text-align: left;
        padding: 0 20px;
      }
    }
    &__title{
      text-align: left;
      width: 350px;
      padding-left: 60px;
      a{
        color: $black;
      }
    }
    &__name{
      font-weight: bold;
      width: 100px;
      padding-right: 30px;
    }
    &--phone{
      width: 300px;
    }
    &--phone-btn{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      display: none;
    }
    &__errorcode{
      padding: 100px 10px;
    }
    &-pagebtn{
      display: flex;
      justify-content: center;
      %bottombtn{
        @include size(35px,35px);
        color: $black;
        line-height: 35px;
        border-radius: 4px;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        margin: 0.3rem 10px;}
      .listpage--active{
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
        @include color($white,$sky)
      }
      &--btn{
        @extend %bottombtn;
        cursor: pointer;
      }
    }
    @include phone{
      width: 95%;
      margin: auto;
      border-top: 1px solid $black;
      &-header{
        display: none;
      }
      &__list{
          height: 50px;
          display: block;
          text-align: left;
          position: relative;
          padding-left: 15px;
          border: none;
          border-bottom: 1px solid $gray;
        }
        &__title{ 
          padding:0;
          width: auto;
          @include font($subtitle,bold);
          line-height: 20px;
        }
        &__name{ 
          @include font($text,normal);
          width: auto;
          &:before{
            content: '';
          }
        }
        &__date:before{
          content:"";
        }
        &__date{
          @include font(1.2vw,normal);
        }
        &--phone{
          width: auto;
        }
        &--phone-btn{
          display: inherit;
        }
      }
      &-btn--write{
        margin: 0;
        margin-top: 10px;
        border: none;
        @include color($white,$black);
        float: right;
        margin-bottom: 10px;
      }
  }
}
